*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    max-width: 350px;
    padding: 20px;
    margin: 0 auto;
}

.container form{
    display: flex;
    gap: 0.25em;
}

form input{
    flex: 2;
    padding: 10px;
}

form button{
    flex: 1;
    padding: 10px;
}